<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-home></app-home>
<h2>Upload button here</h2>
<h2>Picture here to edit or crop box</h2>
<h2>list of invoice details</h2>
<h2>Add button to convert to excel</h2>