<p>
  home works! testing
</p>
<div>
  <h1>image goes here</h1>
<img [src]="imgURL" height="200" *ngIf="imgURL">
<br />
<input #file type="file" accept='image/*' (change)="preview(file.files)" />
</div>
<br />
<button type="Add" type="submit" class="btn btn-success">Upload</button>